{% extends 'theme_admin1/layout_admin.html.twig' %}

{% block content %}
    <div class="g-pa-20">
        <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-40">{{ 'admin.page.not_found.title'|trans }}</h1>
        <p>{{ 'admin.page.not_found.text'|trans }}</p>
    </div>
{% endblock %}
