/* Add here all your css styles (customizations) */
.shopping-cart-open {
    overflow: hidden;
}
.products-list {
    max-height: 300px;
    /*overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;*/
}
.products {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.checkout-bottom {
    padding-top: 10px;
}
@media (max-width: 992px) {
    .shopping-cart .shopping-cart-open {
        min-width: 300px;
        right: -40px;
        padding:15px;
    }
}
@media (min-width: 992px) {
    .shopping-cart .shopping-cart-open {
        min-width: 300px;
        left: -220px;
        padding:15px;
    }
}


/*Shopping Cart
------------------------------------*/
/*Coupon Code*/
.shopping-cart .coupon-code {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid #eeeeee;
}

.shopping-cart .coupon-code h3 {
    margin: 0;
    color: #687074;
    font-size: 18px;
}

.shopping-cart .coupon-code input {
    width: 60%;
    margin-right: 10px;
    display: inline-block;
}

/*Total Result*/
.shopping-cart .total-result li {
    display: block;
}

.shopping-cart .total-result li:after,
.shopping-cart .total-result li:before {
    content: " ";
    display: table;
}

.shopping-cart .total-result li:after {
    clear: both;
}

.shopping-cart .total-result li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background: #eeeeee;
}

.shopping-cart .total-result h4 {
    float: left;
    margin-right: 15px;
}

.shopping-cart .total-result-in {
    overflow: hidden;
    text-align: right;
}

.shopping-cart .total-result-in h4,
.shopping-cart .total-result-in span {
    color: #687074;
    font-size: 18px;
}

.shopping-cart .total-result .total-price h4,
.shopping-cart .total-result .total-price span {
    font-weight: 600;
}

.shopping-cart .total-result .total-price h4 {
    margin: 0 auto;
}

.shopping-cart .total-result .total-price span {
    color: #c9253c;
}

/*Table*/
.shopping-cart .table > thead > tr > th,
.shopping-cart .table > tbody > tr > th,
.shopping-cart .table > tfoot > tr > th,
.shopping-cart .table > thead > tr > td,
.shopping-cart .table > tbody > tr > td,
.shopping-cart .table > tfoot > tr > td {
    border-top: none;
    vertical-align: middle;
}

.shopping-cart .table > thead > tr > th,
.shopping-cart .table > tbody > tr > td {
    padding: 15px;
    text-align: center;
}

.shopping-cart .table > thead > tr > th {
    color: #687074;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.shopping-cart .table > tbody > tr > td {
    color: #888888;
}

.shopping-cart .table > tbody > tr > td.shop-red {
    color: #c9253c;
}

/*Product In Table*/
.shopping-cart .product-in-table {
    text-align: left !important;
}

.shopping-cart .product-it-in {
    overflow: hidden;
}

@media (min-width: 991px) {
    .shopping-cart .product-it-in {
        margin-top: 30px;
    }
}

@media (max-width: 992px) {
    .shopping-cart .product-it-in {
        clear: both;
    }
}

.shopping-cart .product-in-table img {
    float: left;
    width: 120px;
    height: auto;
    padding: 10px;
    background: #ffffff;
    margin-right: 15px;
    border: 1px solid #eeeeee;
}

.shopping-cart .product-in-table h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

/*Quantity Field Form*/
.shopping-cart .quantity-button {
    color: #888888;
    width: 45px;
    height: 40px;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background: #eeeeee;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
}

.shopping-cart .quantity-field {
    width: 45px;
    height: 40px;
    outline: none;
    margin: 0 -4px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    border: 1px solid #eeeeee;
}

/*Close*/
.shopping-cart .close {
    opacity: 1;
    color: #888888;
    font-size: 18px;
    padding-right: 10px;
}

.shopping-cart .close:hover {
    color: #555555;
}

/*Billing Info*/
.shopping-cart h2.title-type {
    font-size: 16px;
    margin-left: 20px;
    text-transform: uppercase;
}

.shopping-cart .billing-info-inputs {
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #eeeeee;
}

.shopping-cart .billing-info-inputs label {
    color: #555555;
    margin-bottom: 0;
    vertical-align: middle;
}

.shopping-cart .billing-info-inputs input {
    min-height: 40px;
    border-color: #eeeeee;
    margin-bottom: 10px;
}

.shopping-cart .billing-info-inputs .form-control {
    color: #888888;
    box-shadow: none;
}

.shopping-cart .billing-info-inputs .form-control::-moz-placeholder {
    color: #888888;
}

.shopping-cart .billing-info-inputs .form-control:-ms-input-placeholder {
    color: #888888;
}

.shopping-cart .billing-info-inputs .form-control::-webkit-input-placeholder {
    color: #888888;
}

/*Custom Form Horizontal*/
.cus-form-horizontal .form-group {
    margin: 0 0 15px;
    overflow: hidden;
    padding-bottom: 7px;
}

.cus-form-horizontal .form-group label {
    color: #555555;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.wizard > .content > .body .cus-form-horizontal input {
    color: #888888;
    box-shadow: none;
    border-color: #eeeeee;
}

.cus-form-horizontal .form-group input::-moz-placeholder {
    color: #cccccc;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.cus-form-horizontal .form-group input:-ms-input-placeholder {
    color: #cccccc;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.cus-form-horizontal .form-group input::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.cus-form-horizontal .input-small-field a {
    top: 5px;
    color: #18ba9b;
    position: relative;
    text-decoration: underline;
}

.cus-form-horizontal .input-small-field a:hover {
    color: #18ba9b;
    text-decoration: none;
}

/*Payment Type*/
.cus-form-horizontal .payment-type li {
    margin-right: 10px;
}

.cus-form-horizontal .payment-type i {
    color: #888888;
    font-size: 35px;
}
