<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <!-- Title -->
    <title>{% block title %}OrbitronDev{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="author" content="OrbitronDev" />
    <meta name="publisher" content="OrbitronDev" />
    <meta name="copyright" content="{{ 'general.copyright'|trans }}" />
    <meta name="keywords" content="" />
    <meta name="audience" content="Alle" />
    <meta name="robots" content="NOINDEX,NOFOLLOW" />

    <!-- Favicon -->
    {% include '_favicon.html.twig' %}

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css" />

    <!-- CSS Unify -->
    <link rel="stylesheet" href="https://web-assets.orbitrondev.org/unify-2.5.1/css/unify-core.css" />
    <link rel="stylesheet" href="https://web-assets.orbitrondev.org/unify-2.5.1/css/unify-components.css" />
    <link rel="stylesheet" href="https://web-assets.orbitrondev.org/unify-2.5.1/css/unify-globals.css" />

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/css/custom.css?v={{ 'now'|date('d-m-Y') }}" />
</head>

<body class="g-bg-gray-dark-v1 g-color-white">
<main class="g-height-100x g-min-height-100vh g-flex-centered g-pa-15">
    <div class="text-center g-flex-centered-item g-position-rel">
        {% block content %}{% endblock %}
    </div>
</main>

<!-- JS Global Compulsory -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js"></script>

<!-- JS Custom -->
<script src="/js/custom.js?v={{ 'now'|date('d-m-Y') }}"></script>

<!--[if lt IE 9]>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1/dest/respond.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html5shiv@3/dist/html5shiv-printshiv.min.js"></script>
<![endif]-->
</body>
</html>
